@import "tailwindcss";


@theme{
  --color-background: #0A0A0A;
  --color-text-color: #B4B4B4;
  --color-borderbd:#373639;
  --color-degradetext-via: #5B5B5B;
  --color-degradetext-to:#393939;

  --color-shadow-shadowbutton: #60A5FA;

;

--animate-rotate-border: border-rotate  3s linear infinite;

  @keyframes border-rotate {
    to{
      --border-angle:360deg;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #3b82f6 #d1d5db; /* thumb blue, track gray */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #d1d5db; /* track color */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b82f6; /* thumb color */
    border-radius: 9999px;
  }
}


/* body */

