@import "tailwindcss";

@theme{

  --color-gray-100: #DAE4F2;
  --color-gray-200: #C8D0DA;
  --color-gray-300: #95A1B1;
  --color-gray-400: #6F7D90;
  --color-gray-500: #2A313C;
  --color-gray-600: #21252C;
  --color-gray-700: #191D24;


  --color-background: #09090B;
  --color-bg-btn: #DAA520;
  --color-borderbd:#27272A;
  --color-p: #A1A1AA;
  --drop-shadow-3xl: 0 50px 35px #272727;

  --color-background-activitys:#18181b;
  --color-bd-activitys: #262629;
  --radius-xl: 0.625rem;
  --text-sm: 0.75rem;
  --text-xs: 0.60rem;

 --shadow-shadowcard: 0 4px 10px #27272A;
  --shadow-shdamber: 3px 4px 10px #fbbf24;
}


