
.title{
  font-size: 5vw;
  font-weight: 500;
  line-height: 1;
  line-height: 1;
  letter-spacing: -0.02em;
  text-ident: 5em;
  color: #e3e3db;
  -webkit-font-smoothing: antialiased;
}

.container > section{
 border: 51px solid red;
 position: relative;

 height:67svh;
 padding:2em;
 overflow:hidden;
 background:red;
}

.intro,
.outro{
  display: flex;
  justify-content:center;
  align-items:center;
}

.sticky-cards {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #0f0f0f;
}
