
.title{
  font-size: 5vw;
  font-weight: 500;
  line-height: 1;
  line-height: 1;
  letter-spacing: -0.02em;
  text-ident: 5em;
  color: #e3e3db;
  -webkit-font-smoothing: antialiased;
}

.container > section{
  border: 51px solid red;
 position: relative;
 height:100svh;
 overflow:hidden;
 background:red;
}

.intro,
.outro{
  display: flex;
  justify-content:center;
  align-items:center;
}
