@import "tailwindcss";

@theme{

  --color-gray-100: #DAE4F2;
  --color-gray-200: #C8D0DA;
  --color-gray-300: #95A1B1;
  --color-gray-400: #6F7D90;
  --color-gray-500: #2A313C;
  --color-gray-600: #21252C;
  --color-gray-700: #191D24;
  --color-gray-800: #13161B;
  --color-gray-900: #0F1216;

  --color-background: #0F0F0F;
  --color-card:#151515;
  --color-background-cardhome:#1d1d1d;
  --color-textopaco:#ECB46C;
  --color-btncolor: #9D794B;

  --color-background-activitys:#18181b;
  --color-bd-activitys: #262629;
  --radius-xl: 0.625rem;
}

.no-datepicker::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}


input[type="date"],
input[type="time"] {
  appearance: none;
  -webkit-appearance: none;
}

